body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 6%;
  padding-bottom: 20px;
  color: #605052;
}

h1 {
  font-size: 563%;
  color: white;
  margin: 150px auto 0 auto;
  font-family: 'Montserrat', serif;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

a {
  color: grey;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
