#grad-circle {
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(100, 100, 100, 0.3));
}

.circle {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80vh;
  width: 80vh;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
